@media screen and (max-width:1400px) {
    .growcontent {
        width: 750px;
        height: 450px;
    }

    .popular-academic-page {
        height: 100%;
    }
    
}
@media screen and (max-width:1200px) {
    .header-container a {     
        font-size: 18px;
    }
    
    .growcontent {
        width: 620px;
        height: 400px;
    }

    .popular-academic-page {
        gap: 40px;
    }

    .best-selling-img-group li {
        width: 230px;
        height: 345px;
    }

    .best-selling-books-size {
        width: 200px;
    }

}




@media screen and (max-width:1024px) {
    body > section {
        padding: 0 16px;
    }

    h1 {
        font-size: 55px;
        gap:10px;
    }

    .at-search-logo {
        width: 100px;
    }

    .header-container a {     
        font-size: 16px;
    }

    .header-search {
        gap: 5px;
    }

    .header-search li:first-child {
        width: 180px;
        height: 30px;
    }

    .header-search li:first-child a {
        font-size: 12px;
    }

    .header-sub-list li a {
        font-size: 14px;
    }

    .header-list li {
        height: 50px;
    }
    
    .type-text-arr {
        gap: 20px;
    }
    
    .type-text {
        height: 55px;  
        padding: 15px;
        font-size: 55px;
    }
    
    .type-text-underline {
        border-bottom : 8px solid var(--accent-color);
    }
    
    .type-text-box {
        border: 8px, solid var(--accent-color);
        border-radius: 20px;
    }

    .popular-academic-page {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    h3 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 36px;
    }

    .title-array {
        align-items: center;
    }

    .prospectus-page {
        padding-bottom: 0;
    }

    .prospectus-img-group {
        flex-direction: column;
        gap: 20px;
    }
    
    .growcontent {
       width: 100%;
        height: 100%;
        overflow: visible;
        flex-grow: inherit;
    }
    .growcontent > figure {
        width: 100%;
        height: 100%;
    }

    h6 {
        margin-top: 40px;
        font-size: 18px;
        text-align: center;
    }

    .more-view {
        justify-content: center;
    }

    .best-selling-img-group {
        flex-direction: column;
        align-items: flex-end;
    }

    .best-selling-img-group li {
        margin: 30px 30px;
    }

    .best-selling-page {
        gap: 50px;
    }

    .admission-results-page {
        gap: 80px;
    }

    .admission-results-contents a > figure {
        width: 60px;
    }

    h5 {
        font-size: 20px;
    }

    .admission-results-contents .vertical-line {
        height: 140px;
        transform: translateY(-20px);
    }

    .detail-view-click {
        width: 20px;
        aspect-ratio: 1;
    }
}

@media screen and (max-width:820px) {

.header-container a {     
    padding: 0 5px;
    font-size: 14px;
}

.header-search li:first-child {
    padding: 0 10px;
    box-sizing: border-box;
}

.header-list li {
    height: 45px;
}

.header-sub-list li a {
    font-size: 12px;
}

}


@media screen and (max-width:768px) {
    .header-list {
        display: none;
    }

    .header-search {
        display: none;
    }

    .moblie-header {
        width: 100%;
        margin: 0 auto;

    }
    
    h3 {
        font-size: 18px;
    }
    
    h2 {
        font-size: 28px;
    }

    .admission-results-contents {
        flex-wrap: wrap;
    }

    .admission-results-contents .vertical-line {
        display: none;
    }

    .admission-results-contents li {
        width: 200px;
        aspect-ratio: 1;
        margin: 10px 20px;
        background-color: rgb(247, 247, 247, 0.2);
        border-radius: 20px;
    }

    footer {
        padding: 0 16px;
    }

    .footer-container nav ul {
        flex-wrap: wrap;
    }

    .footer-container nav {
        font-size: 14px;
    }

}

@media screen and (max-width:620px) {

    .best-selling-page {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .best-selling-text-group {
        height: 100%; 
        position: relative;
    }

    .best-selling-img-group {
        width: fit-content;
    }


}

@media screen and (max-width:360px) {


}
