:root {
    --text-color: #2E2E2E;
    --accent-color: #FF6600;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

img {
    display: block;
    width: 100%;
}

body > section {
    padding: 0 32px;
}

header {
    padding: 0 32px;
}

footer {
    padding: 0 32px;
}

